* {
    font-family: 'Poppins', sans-serif;
}

.boxlogin {
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 400px;
    text-align: center;
    margin: 90px;
    margin-top: 20px;
    border-radius: 25px;

}

body {
    height: 100vh; /* ocupa 100% da altura da tela */
    display: flex;
    justify-content: center; /* centraliza horizontalmente */
    align-items: center;     /* centraliza verticalmente */
    background-color: #ab9a9a;
  }

  .button01 {
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #000000;
    padding: 7px 19px;
    text-decoration: skyblue;
    display: inline-table;
    font-size: 16px;
    margin: 4px 2px;
    cursor: auto;
    border-radius: 12px;
  }

  .user {
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #000000;
    padding: 7px 19px;
    text-decoration: skyblue;
    display: inline-table;
    font-size: 16px;
    margin: 4px 2px;
    cursor: auto;
    border-radius: 12px;
  }

  .pass {
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #000000;
    padding: 7px 19px;
    text-decoration: skyblue;
    display: inline-table;
    font-size: 16px;
    margin: 4px 2px;
    cursor: auto;
    border-radius: 12px;
  }
